.row {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border);
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    background-color: var(--header-bg);
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.headerUtil {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 10px;
}

.headerIcons {
    display: flex;
    align-items: center;
    gap: 5px;
}

.headerIcon {
    fill: var(--title);
}

.headerIcon:focus {
    outline: none;
}

.headerIconActive {
    animation: endlessRotate 1.5s linear infinite;
}

@keyframes endlessRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.name {
    font-size: 1.1em;
    color: #007bff;
    text-decoration: none;
    word-break: break-all;
}

.name:hover {
    text-decoration: underline;
}

.date {
    font-size: 0.8em;
    color: var(--title);
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 0;
}

.field {
    font-size: 0.9em;
}

.field b {
    display: inline-block;
    font-weight: 800;
}

.settingsContainer {
    background-color: var(--app-bg);
    padding: 0 10px;
}

.settingsTitle {
    text-align: center;
    margin-bottom: 15px;
}
